
node_modules

/packages/**/.cache
/packages/**/.env
/packages/**/.vercel
/packages/**/.output

/packages/**/dist/
/packages/**/build/
/packages/**/public/build
/packages/**/api/index.js
/packages/**/api/index.js.map

.nyc_output/
